#root {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(0, 0, 1);
  color: rgb(249, 249, 249);
  margin: 2rem;
  border-radius: 1em;
  border: 5px solid white;
  box-shadow: 2px 4px 6px 5px black;
  
}

.navbar{
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 1em 0;
  margin-bottom: 2em;
  border-radius: 8px;
  color: aliceblue;
}
ul{
   list-style: none;
  display: flex;
  flex-direction: row;
   list-style: none;
}

.navbar ul li a{
 
  margin: 0 15px;
  font-size: 1.7em;
  cursor: pointer;
  text-decoration: none;
 
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
} 

.movie-card {
  background-color: #444444;
  border-radius: 8px;
  padding: 1em;
  text-align: left;
  color: white;
  box-shadow: 2px 1px 6px 1px white;
}

.movie-card:hover{
  transform: scale(1.05);
  transition: transform 0.3s;
   box-shadow: 2px 4px 6px 3px white;
}


.carousel{
  display: flex;
  overflow-x: auto;
  gap: 1em;
  padding: 1em 0;
}